.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.logo img {
    height: 40px;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0 10px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Estilo para el enlace activo */
.navigation a.active {
    background-color: #555;
}

/* Estilo para el enlace cuando se pasa el mouse por encima */
.navigation a:hover {
    background-color: #777;
}